@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic,latin-ext');

body {
  margin: 0;
  padding: 0;
}
header{
  background-color: #fcdee0;
  height: 600px;
}
.logo {
  font-family: 'Lobster', cursive;
  position:relative;
  font-weight: 700;
  font-size: 40px;
  margin-left: 100px;
  float: left;
  color: #a41d26;
}
.nav{
  font-family: 'Lobster', cursive;
  list-style-type: none; 
  float: right;
  margin-top: 60px;
  margin-right:40px;
}
.nav>li{
  display: inline-block;
  padding-left: 50px;
}
.nav>li>a{
  text-decoration: none;
  color: #a41d26;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.nav>li>a:hover {
  -webkit-transition: .5s linear;
  -o-transition: .5s linear;
  transition: .5s linear;
  color: #fff;
}
/*.menu{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}*/
.clear{
  clear: both;
}
.flex_container_header{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: transparent;
  font-size: 120px;
  background: url("https://otvet.imgsmail.ru/download/6788878_65c231a54205b1594ae21e8706c24645_800.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position: relative;
  text-align: left;
  line-height: 95px;
  letter-spacing: -8px;
  margin-left: 100px;
  margin-top: 60px;
}
.shpagat {
    text-align: right;
    margin-right: 50px;
}
.shpagat img{
  margin-top: -226px;
  margin-right: 45px;
  width: 70%;
  background: url("https://otvet.imgsmail.ru/download/6788878_65c231a54205b1594ae21e8706c24645_800.jpg") repeat;
  background-position: 40% 50%;
}
.subtitle {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}
}

}
