@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Cookie');

body {
  margin: 0;
  padding: 0;
}
header{
  background-image: url(../img/fon1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
.container{
  width: 100%;
  max-width: 1140px;
  margin:0 auto;
}
.logo {
  font-family: 'Lobster', cursive;
  position:relative;
  font-weight: 700;
  font-size: 40px;
  margin-left: 100px;
  float: left;
  color: #a41d26;
}
.nav{
  font-family: 'Lobster', cursive;
  list-style-type: none; 
  float: right;
  margin-top: 60px;
  margin-right:40px;
}
.nav>li{
  display: inline-block;
  padding-left: 50px;
}
.nav>li>a{
  text-decoration: none;
  color: #a41d26;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.nav>li>a:hover {
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
  color: #fff;
}
/*.menu{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}*/
.clear{
  clear: both;
}
.flex_container_header{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.akkaunt{
    text-align: right;
    margin-right: 40px;
}
.name_akkaunt, .password_akkaunt{
  margin-bottom: 5px;
}
.name_akkaunt input, .password_akkaunt input {
    width: 15%;
    border: 1px solid #a41d26;;
    padding: 5px;
    border-radius: 6px;
    outline: none;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    font-family: "Raleway", sans-serif;
  }
  .akkaunt input:focus{
    border: 1px solid #c0301c;
  }
.akkaunt button{
  font-family: "Raleway", sans-serif;
  border: 1px solid #fff;
  padding: 3px;
  border-radius: 6px;
  background-color: #a41d26;
  color: #fff;
}
.banner_text{
  position: relative;
  text-align: left;
  margin-left: 100px;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: transparent;
  font-size: 120px;
  background: url("https://pp.userapi.com/c840626/v840626005/2182e/WnlAkGZRyPo.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  line-height: 95px;
  letter-spacing: -8px;
}
.under_title{
  font-family: 'Lobster', cursive;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 10px;
  color: #a41d26;
}
/*about_me*/
h2{
  margin-bottom: 40px;
  text-align: center;
  font-size: 35px;
  font-family: 'Lobster', cursive;
  color: #a41d26;
}
.about_me_block{
  margin-bottom: 40px;
}
.hell1{
  background-color: #dd6363;
  width: 50%;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}
.hell2 {
  margin-bottom: 20px; 
  width: 0; 
  height: 0;
  border: 15px solid transparent;
  border-bottom: 15px solid #dd6363;
  margin: 0 auto;
  position: relative; 
  top: -31px;
}
.hell2:after {
  content: "";
  width: 0; 
  height: 0;
  position: absolute; 
  left: -15px; 
  top: 15px;
  border: 15px solid transparent;
  border-top: 15px solid #dd6363;
}
.about_me {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.photo_me{
  width: 36%;
  height: 36%;
  position: relative;
  overflow: hidden;
  float: left;
}
.photo_me img{
  -o-object-fit: cover;
     object-fit: cover;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  min-width: 100%;
}
.text_about_me {
    width: 60%;
    margin-left: 20px;
    text-align: left;
    font-family: 'Cookie', cursive;
    color: #a41d26;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-top: -25px;
}
.programms_block{
  background-color: #fff2ed;
  padding-top: 10px;
  padding-bottom: 100px;
}
.programms{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}
.programm_with, .programm_without {
    background-color: #dd6363;
    width: 46%;
    border: 2px solid #dd6363;
    border-radius: 10%;
}
.programm{
  color: #fff;
  text-align:center;
  margin: 15px 0;
}
.programm h3{
  font-size: 1.4em;
  font-family: 'Lobster', cursive;
  width: 80%;
  margin: 0 auto;
}
.programm p{
  font-size: 1.1em;
  font-family: 'Cookie', cursive;
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
}
.programm button{
  margin-top: 15px;
  background-color: #fff;
  color: #a41d26;
  font-size: 1.8em;
  font-family: 'Lobster';
  border: 1px solid #a41d26;
  border-radius: 15%;
  padding: 10px 45px;
  cursor: pointer;
}
.reviews{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 25px;
}
.review_foto{
  width: 28%;
  position: relative;
  overflow: hidden;
  float: left;
  border: 2px solid #a41d26;
  -webkit-box-shadow: 1px 1px 30px 1px #dd6363;
  box-shadow: 1px 1px 30px 1px #dd6363;
}
.review_foto img{
  -o-object-fit: cover;
     object-fit: cover;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  min-width: 100%;
}
.review_yet{
  text-decoration: none;
  font-size: 1.4em;
  font-family: 'Lobster', cursive;
  color: #a41d26;
  text-align: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/*hover circle*/
.hover_circle div {
  position: relative;
}
.hover_circle div::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255,255,255,.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.hover_circle div:hover::before {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}
@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
/*end hover circle*/
/*media*/
@media(max-width: 1000px){
  .nav>li{
    padding-left: 25px;
  }
  .block{
    padding: 10px 20px;
  }
  header{
    height: 540px;
  }
}
@media(max-width: 900px){
  .nav>li>a{
    font-size: 16px;
  }
  .logo{
    font-size: 34px;
  }
  .nav{
    margin-top: 50px;
  }
  .title{
    font-size: 90px;
  }
  .banner_text{
    text-align: center;
    margin-left: 0;
  }
  .text_about_me{
    width: 57%;
  }
  .programms{
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .programm_with, .programm_without{
    width: 42%;
  }
}
@media(max-width: 850px){
  .name_akkaunt input, .password_akkaunt input {
    width: 20%;
  }
  header{
    height: 500px;
  }
}
@media(max-width: 770px){
  .nav>li{
    padding-left: 10px;
  }
  .logo{
    margin-left: 60px;
  }
  header{
    height: 500px;
  }
}
@media(max-width: 640px){
  .logo{
    float: none;
    margin-left: 0;
    text-align: center;
    margin-top: -25px;
  }
  header{
    height: 410px;
  }
  .name_akkaunt input, .password_akkaunt input{
    width: 25%;
  }
  .nav{
    float: none;
    margin: 0 auto;
    text-align: center;
    margin-top: -28px;
    padding-left: 0;
  }
  .nav>li>a{
    font-size: 18px;
  }
  .title{
    font-size: 60px;
    letter-spacing: 0;
    line-height: 60px;
  }
  .akkaunt{
    margin-top: 10px;
  }
  .under_title{
    margin-top: -28px;
  }
  header{
    height: 470px;
  }
  .about_me{
    display: block;
    margin-top: 20px;
  }
  .review_foto{
    background-color: #a41d26;
  }
  /*.container{
    margin: 0;
  }*/
  h2{
    margin-bottom: 20px;
    font-size: 34px;
  }
  .text_about_me{
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .photo_me{
    float: none;
    width:75%;
    margin: 0 auto;
  }
  .programms{
    display: block;
  }
  .programm_with, .programm_without{
    margin: 0 auto;
    width: 95%;
    margin-bottom: 20px;
  }
  .reviews{
    display: block;
  }
  .review_foto{
    float: none;
    width: 80%;
    margin: 0 auto;
    margin-bottom:20px;
  }
  .review_yet{
    display: block;
    text-align: center;
  }
}
@media(max-width: 550px){
  .akkaunt{
    text-align: center;
    margin: 10px auto;
  }
  .name_akkaunt input, .password_akkaunt input{
    width: 30%;
  }
}

@media(max-width: 480px){
  .nav>li{
    padding-left: 0;
    margin: 0 3px;
  }
  .logo{
    margin-top: -42px;
  }
  .akkaunt{
    margin: 20px auto;
  }
  .name_akkaunt input, .password_akkaunt input{
    width: 50%;
  }
}
@media(max-width: 425px){
  .title{
    line-height: 40px;
    font-size: 35px;
  }

  header{
    height: 400px;
  }
  .under_title{
    font-size: 18px;
  }
}